* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  background: #000;
}

#cover {
  position: fixed;
  inset: 0;
}

#cover-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-family: serif;
}

.title span {
  font-size: 0.6em;
  opacity: 0.9;
}

.gift {
  position: absolute;
  left: 50%;
  bottom: 18%;
  transform: translateX(-50%);
  font-size: 6rem;
  text-decoration: none;
}
